NodeRED/main_dashboard.json
[
    {
        "id": "8c84e51f96fc2257",
        "type": "tab",
        "label": "Select",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "667ea14d52e04763",
        "type": "ui_button",
        "z": "8c84e51f96fc2257",
        "name": "Manueel",
        "group": "cf97d48e595a3208",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Manueel",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "manueel",
        "payloadType": "str",
        "topic": "/mode",
        "topicType": "str",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "cfdafc3a58e10df4",
                "06ceb708f62ea283"
            ]
        ]
    },
    {
        "id": "9ac74ac5153cc29b",
        "type": "ui_button",
        "z": "8c84e51f96fc2257",
        "name": "Automatisch",
        "group": "cf97d48e595a3208",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Automatisch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "automatisch",
        "payloadType": "str",
        "topic": "/mode",
        "topicType": "str",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "cfdafc3a58e10df4",
                "06ceb708f62ea283"
            ]
        ]
    },
    {
        "id": "cfdafc3a58e10df4",
        "type": "mqtt out",
        "z": "8c84e51f96fc2257",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6be8ec108bd19040",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "06ceb708f62ea283",
        "type": "ui_text",
        "z": "8c84e51f96fc2257",
        "group": "cf97d48e595a3208",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Mode display",
        "label": "Huidige mode: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "cf97d48e595a3208",
        "type": "ui_group",
        "name": "Select",
        "tab": "1a75a4cbf354fc3a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6be8ec108bd19040",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "mqtt.luytsm.be",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1a75a4cbf354fc3a",
        "type": "ui_tab",
        "name": "SmartCar Controlepaneel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]